.home_body {
  background-color: #fff;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.home_ads {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

@media only screen and (max-width: 1020px) {
  .home_ads {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
